@import "@material/react-button/index.scss";
@import "@material/react-layout-grid/index.scss";
@import "@material/react-card/index.scss";
@import "@material/react-typography/index.scss";
@import "@material/react-material-icon/index.scss";
@import "@material/react-text-field/index.scss";
@import "@material/react-icon-button/index.scss";
@import "@material/react-checkbox/index.scss";
@import "@material/react-radio/index.scss";
@import "@material/react-list/index.scss";
.button-alternate {
  @include mdc-button-container-fill-color(#1a73e8);
}

.btn-change {
  @include mdc-button-filled-accessible(rgb(39, 100, 199));
}
.check-box-change {
  @include mdc-checkbox-container-colors(
    #5f6368,
    white,
    rgb(39, 100, 199),
    rgb(39, 100, 199),
    rgb(39, 100, 199)
  );
}
.radio-change {
  @include mdc-radio-ink-color(rgb(39, 100, 199));
  @include mdc-radio-checked-stroke-color(rgb(39, 100, 199));
}
.fontclass {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  color: #202124;
}
//Avatar
.va-bottom {
  vertical-align: bottom;
}
.text-center {
  text-align: center;
}
.avatar {
  width: 98px;
  height: 98px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}

.avatar.avatar--default {
  color: #fff;
  background-color: #bdbdbd;
}

.avatar.avatar--orange {
  color: #fff;
  background-color: #fa903e;
}

.avatar.avatar--sky-blue {
  color: #fff;
  background-color: #4ecde6;
}

.avatar.avatar--purple {
  color: #fff;
  background-color: #673ab7;
}

.avatar.avatar--green {
  color: #fff;
  background-color: #5bb974;
}

.avatar.avatar--pink {
  color: #fff;
  background-color: #ff63b8;
}

.avatar.avatar--blue {
  color: #fff;
  background-color: #1a73e8;
}

.avatar.avatar--cyan {
  color: #fff;
  background-color: #4ecde6;
}

.avatar.avatar--red {
  color: #fff;
  background-color: #ee675c;
}

.avatar.avatar--yellow {
  color: #fff;
  background-color: #fcc934;
}

/**/
.avatar--settings {
  position: relative;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
  border: 1px solid #edefed;
}

.avatar__banner {
  text-align: center;
  vertical-align: middle;
  background-color: rgba(32, 33, 36, 0.6);
  bottom: 0;
  height: 30%;
  left: 0;
  position: absolute;
  right: 0;
}

.circle {
  border-radius: 50%;
}
.hide {
  display: none;
}
//card
.card {
  .card {
    margin-top: -1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    color: #fff;
    font-size: 2em;
  }
}
//textheadline
.text-headline2 {
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #202124;
  margin: 0;
  padding: 0px;
}

@media (min-width: 720px) {
  .text-headline1 {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
  }
}

/* mobile-large */
@media all and (min-width: 361px) and (orientation: portrait) {
}
/* mobile-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {
}
/* mobile-large-landscape */
@media all and (min-width: 481px) and (orientation: landscape) {
}
/* tablet-small-landscape */
@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
}
/* tablet-large-landscape */
@media all and (min-width: 961px) and (orientation: landscape) {
}
/* tablet-small */
@media all and (min-width: 600px) and (orientation: portrait) {
}
/* tablet-large */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation: portrait) {
}
/* desktop-x-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {
}
/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) {
}
/* desktop-small-landscape */
@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
}
/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) {
}
/* desktop-medium-landscape */
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
}
/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) {
}
/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
}
/* desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 1920px) {
}
